.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container h1 {
  font-size: 5em;
}

.container button {
  background-color: black;
  padding: 15px 30px;
  border-radius: 15px;
}

.container button:hover {
  background-color: blue;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: .5;}
  100% { opacity: 1;}
}