.container {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.container link:hover {
  font-weight: bold;
}

.navLeft {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.navRight {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 10%;
}